* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: url("../images/gradient-background.jpg") no-repeat center/cover;
    font-family: 'Inconsolata', monospace;
    color: #2B5184;
    font-size: large;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section#score {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

section#score div {
    width: 10em;
    height: 3em;
    text-align: center;
    padding: 0.5em;
    background-color: rgba(255, 180, 70, 0.75);
    border: 1px solid rgb(255, 180, 70);
    border-radius: 1px;
    box-shadow: 1px 1px 5px 1px rgb(255, 180, 70);
}

section#board {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(81, 195, 196, 0.5);
}

section#board > div {
    border: 1px solid #2B5184;
    width: 60px;
    height: 60px;
}

.furry {
    background: url('../images/useravatar.svg') no-repeat center/cover;
}

.bone {
    background: url('../images/bone.png') no-repeat center/cover;
}

section#over {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    padding: 10px;
    background-color: rgba(255, 180, 70, 0.75);
}

section#over div {
    text-align: center;
    font-weight: bolder;
    color: #2B5184;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

section#over div h1,
section#over div h3 {
    margin: 50px 0;
    padding: 10px;
    font: normal 70px/1 "VT323", Helvetica, sans-serif;
    color: rgba(255, 255, 0, 0.8);
    text-shadow: 5px 5px 0 rgba(255, 0, 0, 0.8);
}

section#over div h3 {
    font-size: 50px;
    text-shadow: 4px 4px 0 rgba(255, 0, 0, 0.8);
}

#restart {
    cursor: pointer;
    padding: 0 30px;
    border: 4px solid rgba(81, 195, 196, 0.75);
    border-radius: 25px;
    font: normal normal bold 35px/50px "VT323", Helvetica, sans-serif;
    color: rgba(81, 195, 196, 0.75);
    background: rgba(43, 81, 132, 0.75);
}

#restart:hover {
    background: rgba(81, 195, 196, 0.75);
    color: rgba(43, 81, 132, 0.75);
}

.invisible {
    display: none;
}